h1 {
    border: 2px #eee solid;
    color: rgb(126, 106, 204);
    /* color: rgb(248, 126, 126); */
    text-align: center;
    padding: 10px;
}

div.hits {
    width: 100px;
    border: 5px solid rgb(126, 106, 204);
    /* border: 5px solid rgb(248, 126, 126); */
    padding: 1px;
    margin: 20px;
    font-size: 30px;
  }

  div.post {
    width: 300px;
    border: 5px solid rgb(126, 106, 204);
    /* border: 5px solid rgb(248, 126, 126); */
    padding: 50px;
    margin: 20px;
  }